<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Recipe Home</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"
          th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}">

    <script src="/webjars/jquery/1.11.1/jquery.min.js"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"
            th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>
    <style>
        /* Remove the navbar's default margin-bottom and rounded borders */
        .navbar {
            margin-bottom: 0;
            border-radius: 0;
        }

        /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
        .row.content {height: 450px}

        /* Set gray background color and 100% height */
        .sidenav {
            padding-top: 20px;
            background-color: #f1f1f1;
            height: 100%;
        }

        /* Set black background color, white text and some padding */
        footer {
            background-color: #555;
            color: white;
            padding: 15px;
        }

        /* On small screens, set height to 'auto' for sidenav and grid */
        @media screen and (max-width: 767px) {
            .sidenav {
                height: auto;
                padding: 15px;
            }
            .row.content {height:auto;}
        }
    </style>
</head>
<body>

<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Logo</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li class="active"><a href="http://localhost:8080">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Projects</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="container-fluid text-center">
    <div class="row content">
        <div class="col-sm-2 sidenav">
            <p><a href="#">Link</a></p>
            <p><a href="#">Link</a></p>
            <p><a href="#">Link</a></p>
        </div>
        <div class="col-sm-8 text-left" style="padding-top:20px">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h1 class="panel-title" th:text="${recipe.description}">My Recipes!</h1>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-3">
                            <h5>Categories:</h5>
                        </div>
                        <div class="col-sm-9">
                            <ul th:each="category : ${recipe.categories}">
                                <li th:remove="all">Cat one</li>
                                <li th:remove="all">Cat two</li>
                                <li th:text="${category.description}">Cat three</li>
                            </ul>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3"><h5>Prep Time</h5></div>
                        <div class="col-sm-3"><p th:text="${recipe.prepTime}">30 min</p></div>
                        <div class="col-sm-3"><h5>Difficulty</h5></div>
                        <div class="col-sm-3"><p th:text="${recipe.difficulty}">Easy</p></div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3"><h5>Cooktime</h5></div>
                        <div class="col-sm-3"><p th:text="${recipe.cookTime}">30 min</p></div>
                        <div class="col-sm-3"><h5>Servings</h5></div>
                        <div class="col-sm-3"><p th:text="${recipe.servings}">4</p></div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3"><h5>Source</h5></div>
                        <div class="col-sm-3"><p>30 min</p></div>
                        <div class="col-sm-3"><h5>Url</h5></div>
                        <div class="col-sm-3"><p th:text="${recipe.url}">http://www.example.com</p></div>
                    </div>
                </div>
            </div>
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h1 class="panel-title">Ingredients</h1>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <ul th:each="ingredient : ${recipe.ingredients}">
                                <li th:remove="all">1 Cup of milk</li>
                                <li th:remove="all">1 Teaspoon of chocolate</li>
                                <li th:text="${ingredient}">1 Teaspoon of salt</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h1 class="panel-title">Directions</h1>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <p th:text="${recipe.directions}">Lorem ipsum dolor ... Directions</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h1 class="panel-title">Notes</h1>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <p th:text="${recipe.notes}">Lorem ipsum dolor ... Notes</p>
                        </div>
                    </div>
                </div>
            </div>


        </div>
        <div class="col-sm-2 sidenav">
            <div class="well">
                <p>ADS</p>
            </div>
            <div class="well">
                <p>ADS</p>
            </div>
        </div>
    </div>
</div>

<footer class="container-fluid text-center">
    <p>Footer Text</p>
</footer>

</body>
</html>
